<div class="landing-page">
  <nav class="navbar navbar-absolute navbar-transparent" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button id="menu-toggle" type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar bar1"></span>
          <span class="icon-bar bar2"></span>
          <span class="icon-bar bar3"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navigation-doc">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">
              <i class="fa fa-search"></i>
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="wrapper">
    <div class="header header-filter">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="title">Sake Pon!</h1>
            <h4>
              もっと色々なお酒に出会おう！
            </h4>
            <h5>日本酒：1234種類、ビール：567種類</h5>
            <br />
            <a href="#" class="btn btn-info btn-raised" style='text-transform: none;'>
              <i class="fa fa-twitter"></i> Twitterでログイン
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <div class="section text-center section-landing">
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <nav class="pull-left">
        <ul>
          <li>
            <a href="http://www.creative-tim.com">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="http://presentation.creative-tim.com">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Blog
            </a>
          </li>
          <li>
            <a href="http://www.creative-tim.com/license">
              Licenses
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright pull-right">
        &copy; 2016, made with <i class="fa fa-heart heart"></i> by Creative Tim
      </div>
    </div>
  </footer>
</div>