version: '2'
services:
  postgres:
    image: postgres:9.4
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./tmp/data/postgresql:/var/lib/postgresql/data
